.articleCard {
    background-color: #EAEAEAEA;
    display: flex;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 2em;
}
.collectionContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    width: 372px;
    height: 373px;
    background-color: #FFFFFF;
    border-radius: 12px;
    
}
.collectionDiv1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 270px;
}
.collectionDiv1__headline{
    grid-area: 1 / 1 / 2 / 2;
    z-index: 1;
    color: #FFFFFF;
    padding-left: 1em;
    text-transform: uppercase;
}
.collectionDiv1__image1 {
    grid-area: 1 / 1 / 2 / 2;
    
}
.collectionDiv1__image2 {
    grid-area: 1 / 1 / 2 / 2;
    align-self: end;
    padding-left: 1em;
}
.collectionDiv2__title{
    text-align: center;
    font-size: 18px;
}
.collectionDiv2__title2 {
    text-align: center;
    font-size: 14px;
    color: #7B8591;
    font-weight: 300;
}