/*TheNewYorkTimes.css*/
.newyorktimes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 372px;
    height: 471px;
    background-color: #FFFFFF;
    border-radius: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2em;
}
.newyorktimes__logo {
    grid-area: 1 / 1 / 2 / 2;  
    z-index: 1;
    padding-left: 3em;
    padding-top: 3em;
}
.newyorktimes__title {
    grid-area: 1 / 1 / 2 / 2; 
    z-index: 1;
    justify-self: center;
    text-transform: uppercase;
    font-size: 11px;
    padding-top: 5em;
}
.newyorktimes__text {
    grid-area: 1 / 1 / 2 / 2; 
    z-index: 1;
    place-self: center;
    font-size: 16px;
    color: #7B8591;
    margin: 0 3em 0 3em;
}
.newyorktimes__backgoundImage {
    grid-area: 1 / 1 / 2 / 2;  
}
.newyorktimes__button {
    grid-area: 1 / 1 / 2 / 2;  
    align-self: end;
    width: 141px;
    height: 49px;
    z-index: 1;
    border-radius: 40px;
    margin-left: 3em;
    margin-bottom: 3em;
    background-color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
}