.main {
  max-width: 1280px;
  margin: 0 auto;
}
.appSectionOne{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
}

.appSectionTo {
  display: flex;

}
.appSectionThree {
 display: flex;
}